/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body, input, textarea, select {
}

body {
    text-align: center;
}

header {
    text-align: center;
}

section, header, .section > div, .ladder {
    border: 1px #000 solid;
    border-radius: 12px;
    padding: 8px;
    margin: .4%;
}

input, select, textarea {
        border: 1px #FFF solid;
        border-radius: 8px;
        background-color: #CCC;
        padding: 2px;
}

textarea {
    resize: none;
}

p {
    font-size: 12px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 24px;
    margin: 0;
}

h3 {
    font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.imgRadioActive {
    background: url('../img/circle.png');
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0;
    width: 36px;
}

.imgRadioMarked {
    background: url('../img/filled_circle.png');
}

.instructions {
    background-color: #CCC;
}

#floatingcontroller {
    margin: 15px auto 0;
    /*
     * This element has propertiesset in javascript by positionController
     * Specifically: width, overflow, and left (position) depending on screen size
     */
}

    .controllerFloats {
        max-height: 600px;
        position: fixed;
            top: 0;
            left: 0;
    }

    #floatingcontroller div {
        text-align: left;
        letter-spacing: 2px;
    }

    #floatingcontroller h1 {
        clear: both;
    }

    #floatingcontroller section {
        float: left;
        width: 140px
    }

    #floatingcontroller input {
        width: 80%;
        text-align: center;
    }

        #floatingcontroller input[type='checkbox'] {
            border: 1px #000 solid;
            display: inline;
            margin-left: -5px;
            width: 16px;
            word-wrap: nowrap;
        }

            #floatingcontroller input[type='checkbox']:first-of-type {
                margin-left: 0;
            }

.bleed {
    margin: 25px auto;
    padding: 0;
    width: 900px;
}

    .bleed h2 {
        font-size: 16px;
    }

    .smallsections section, .smallsections > div {
        float: left;
        width: 47.2%;
    }

        .smallsections > div:last-child {
            margin-left: 3.2%;
        }

        .smallsections > div > section {            width: 100%;
        }

    .smallsections p {
        float: left;
        font-size: 16px;
        display: inline-block;
        margin: 0;
        padding: 0;
        padding-top: 5px;
    }

    .smallsections input, .smallsections select, .smallsections .input {
        display: block;
        float: right;
        min-height: 24px;
        width: 240px;
    }

.phases {
    text-align: right;
}

    .phases section {
        border: 0;
        border-bottom: 2px #222 solid;
        border-radius: 0;
        margin: 0;
        margin-top: -15px;
        padding-left: 35px
    }

        .phases section:last-of-type {
            border: 0;
        }

    .phases textarea {
        display: block;
        height: 100px;
        width: 100%;
    }

        .phases h2:after {
            color: #999;
            content: "Events";
            display: block;
            font-size: 12px;
            height: 0px;
            text-align: left;
            position: relative;
                top: -14px;
        }

    .phases h1 {
        display: inline-block;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 0;
        /* IE fails at positioning this */
        position: relative;
            right: 810px;
            top: 68px;
        text-align: center;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        width: 100px;

    }

    .phases h2 {
        margin-top: -25px;
        text-align: center;
    }

    .phases input[name$='aspect'] {
        font-weight: bold;
    }

.aspects textarea {
    height: 130px;
    width: 85%;
}


.stress {}

    .stress p {
        font-size: 12px;
    }

    .stress h3 {
        font-size: 14px;
        text-align: left;
        margin: 0;
    }

    .stress dl {
        clear: both;
    }

    .stress dt {
        float: left;
        padding-top: 1ex;
        width: 70px;
    }

    .stress dd {
        text-align: left;
        margin-top: -36px;
        height: 36px;
        float: right;
        width: 81%;
    }

    .stress > p {
        display: block;
        margin-left: 96px;
        padding-bottom: 4px;
        letter-spacing: 15px;
    }

    .stress input {
        width: 100%;
    }

    .stress div {
        margin-right: 4px;
    }

.consequences{
}

    .consequences input {
        text-align: center;
    }

        .consequences input[type="number"] {
            width: 34px;
        }

    .consequences table {
        width: 100%;
    }

        .consequences td {
            padding: 1px 5px;
            height: 36px;
            min-width: 36px;
        }

            .consequences td:last-of-type {
                width: 40%;
            }

    .consequences input {width: 100%;}

.skills {}

    .skills section {
        border: 0;
        clear: both;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    .skills textarea {
        height: 50px;
        float: right;
        width: 80%;
    }

    .skills p {
        margin-top: -15px;
    }

    .skills input,
    .stunts input {
        display: inline;
        float: none;
        text-align: center;
        width: 15px;
    }

.stunts{} /* Some defined in skills */

    .stunts table {
        text-align: left;
        width: 100%;
    }

        .stunts tfoot td {
            padding-top: 15px;
        }

    .stunts #tot_stunt_refresh {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

        .stunts td:last-of-type {
            width: 90%;
        }

    .stunts textarea {
        height: 50px;
        width: 100%;
    }

    .stunts .shorten {
        width: 72%;
    }

    .ladder {
        border: 1px #000 solid;
        background-color: #FFF !important;
        height: 190px;
        float: right;
        font-size: 10px;
        margin-bottom: -210px;
        margin-right: 0;
        padding: 4px;;
        position: relative;
            top: -205px;
        width: 21%;
    }

        .ladder dt {
            clear: left;
            float: left;
            word-wrap: nowrap;
            width: 70%;
            text-align: left;
        }

        .ladder dd {
            clear: right;
            float: right;
            margin-top: -2.5ex;
            width: 20%;
            text-align: right;
        }

    .fate section {
        border: 0;
        float: left;
        line-height: 0px;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 25%;
    }

    .fate p {
        clear: left;
        float: left;
    }

    .fate select, .fate input, .fate div {
        clear: right;
        float: right;
        font-size: 12px;
        padding: 1px;
        margin-top: 4px;
        margin-right: 4px;
        width: 100px;
    }

        .fate div {
            line-height: 14px;
            width: 105px;
        }

        .fate select  {
            width: 120px;
        }

    input[name='fate_points'] {
        font-size: 30px;
        height: 30px;
        text-align: center;
    }

#custom_fate {
    display: none;
}

    #custom_fate section {
        width: 33%;
    }

    #custom_fate input {
        margin-right: 30px;
    }

footer {
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    /* Page break definitions */
   .phases {page-break-after: always;}

    .instructions {
        display: none !important;
    }

    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
